*
{
    padding: 0;
    margin: 0;
}

#banner{
    display: block;
    width: 100%;
    height: 250px;
    background-color:#031832;
    background-image: url("../media/bg/02bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mensajito{
    display: none;
}